<header class="mainHeader">
    <nav class="mainHeader__nav">
        <ul class="mainHeader__item-list">
            <li class="mainHeader__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Shop</a></li>
            <li class="mainHeader__item"><a href="/products" class="<%= path === '/products' ? 'active' : '' %>">Products</a></li>
            <li class="mainHeader__item"><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
            <li class="mainHeader__item"><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
            <li class="mainHeader__item"><a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : '' %>">Admin Products</a></li>
        </ul>
    </nav>
</header>