<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="icon" href="https://image.freepik.com/free-vector/online-shop-logo-template_59362-81.jpg"
        type="image/jpg">
    <link rel="stylesheet" href="/css/single-product.css">
</head>

<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if (prods.length> 0) { %>
            <div class="grid">
                <% prods.map(prod => {  %>
                <article class="card product__item">
                    <header class="card__header">
                        <h1 class="product__title"><%= prod.title %></h1>
                    </header>
                    <div class="card__image"><img
                            src="<%= prod.imgUrl %> " alt="">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= prod.price %> </h2>
                        <p class="product__description"><%= prod.description %> </p>
                    </div>
                    <div class="card__actions"></div><button class="btn">Add to Cart </button>
                </article>
                <% })%>
            </div>
            <% } else { %>

                <h1>There is no products in your shop</h1>

                <% } %>

    </main>
<%- include('../includes/end')%>